---
const description = "404";
import "../styles/global.css";
---

<section class="container404"></section>
<h1>{description}</h1>
<p>
  You step onto the road, and if you don't keep your feet, there's no knowing
  where you might be swept off to.
</p>
<p>
  <a href="/">Return Home</a>
</p>
<style>
  body {
    text-align: center;
  }

  .container404 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 16%;
  }

  h1 {
    margin: 0 auto;
    text-align: center;
    border: 0;
    font-size: 120px;
    letter-spacing: 10px;
  }

  span {
    color: #5c5b77;
  }

  a {
    color: ##ff79c6;
    text-decoration: none;
  }
</style>
