---
import { Code } from "astro:components";
import Layout from "../layouts/Layout.astro";
const pageTitle = "Clarissa Flores";
---

<Layout pageTitle={pageTitle}>
  <h2>Clarissa Flores</h2>

  <p>
    <a href="/Clarissa_Flores_-_Web_Developer.pdf">Resume</a> | <a href="https://www.linkedin.com/in/clarissa-flores/">LinkedIn</a> | <a href="https://github.com/clarissa-flores">GitHub</a> | <a href="https://read.cv/clarissaflores"
      >Read.Cv</a
    > | <a href="https://bento.me/clarissaflores">Bento.me</a>
  </p>
  <p>
    My name is Clarissa. I'm a full-stack developer living in Austin, TX. I am
    currently open for work.
  </p>
  <p>
    Remember that MySpace era of animated cursors and glitter backgrounds? Yep,
    that was me, hand-coding layouts for my friends before anyone knew what a
    URL was. But my love for aesthetics goes far beyond pixelated hearts.
  </p>
  <p>
    For a decade, I honed my visual magic in retail merchandising, transforming
    mannequins into fashion icons and storefronts into eye-catching displays.
    Today, I've traded mannequins for pixels, weaving code spells that bring
    your digital visions to life. My goal is to build experiences are more than
    just technically sound – but beautifully designed, user-friendly, and
    engaging. Think of them as perfectly curated online boutiques, where every
    pixel is meticulously placed for maximum impact.
  </p>
  <p>
    When I'm not conjuring digital magic, you'll find me tending to my
    houseplants, unraveling the mysteries of the tarot, or digging for vinyl
    treasures. And beyond the screens, I'm driven by building inclusive tech
    spaces and using code for good.
  </p>
  <p>
    So, if you're looking for a developer who brings more than just technical
    expertise to the table, someone who blends creativity, logic, and a
    conscience into pixel-perfect solutions, let's chat! Together, we can build
    websites that are beautiful, functional, and leave a positive footprint on
    the world, one line of code at a time.
  </p>
</Layout>
