---
import { Code } from "astro:components";
import Layout from "../layouts/Layout.astro";
const pageTitle = "Clarissa Flores";
---

<Layout pageTitle={pageTitle}>
  <h2>About</h2>

  <p>
    I'm a full-stack developer crafting beautiful and functional websites in
    San Antonio, TX. I am currently seeking new projects, contracts, or
    full/part-time roles where I can leverage my creativity and coding skills to
    create impactful digital experiences.

    <br /><br />
    Find my: <a href="/Clarissa-Flores_Developer.pdf">Resume</a> | <a
      href="https://www.linkedin.com/in/clarissa-flores/">LinkedIn</a
    > | <a href="https://github.com/clarissa-flores">GitHub</a> | <a
      href="https://read.cv/clarissaflores">Read.Cv</a
    > | <a href="https://bento.me/clarissaflores">Bento.me</a>
  </p>
  <h3>My Journey</h3>
  <p>
    My journey with web development started with a love for aesthetics. I used
    to hand-code MySpace layouts for friends, and that passion for visual impact
    has always been a driving force. After a decade spent honing my visual magic
    in retail merchandising, I transitioned to the digital world, where I now
    use code to bring my clients visions to life.
  </p>
  <h3>My Approach</h3>
  <p>
    I believe websites should be more than functional; they should be
    appealing, intuitive, and truly engage users. I approach each project with
    the mindset of crafting a curated online experience, where every detail,
    from design to user flow, is meticulously considered for maximum impact.
  </p>
  <h3>Beyond Code</h3>
  <p>
    When I'm not at my computer, you might find me tending to my houseplants,
    listening to a paranormal podcast, or curled up with my cat Bunny. On and
    off the screen, I'm driven by creating inclusive tech spaces and using my
    skills to make a positive impact. I believe technology should be accessible
    and impactful, and I strive to reflect that in every project I take on.
  </p>
  <h3>Collaboration</h3>
  <p>
    Are you looking for a developer who goes beyond just code? Someone who
    brings creativity, logic, and a social conscience to every project? Let's
    chat! Together, we can build websites that are not only beautiful and
    functional but also leave a positive impact on the world, one pixel at a
    time.
  </p>
</Layout>
