---
import Layout from "../layouts/Layout.astro";
const pageTitle = "Clarissa Flores";
---

<Layout pageTitle={pageTitle}>
  <h2>About</h2>
  <p>
    Hello there! I'm Clarissa, a full-stack developer who is passionate about
    the intersection of creativity and technology. With a diverse background in
    merchandising and styling, I bring a unique blend of creative thinking and
    technical expertise to every project.
  </p>
  <p>
    My journey into web development began back in 2007 when I delved into
    self-teaching HTML during a summer break. Since then, my love for coding has
    only grown, and I've honed my skills through building numerous personal
    websites and blogs.
  </p>
  <p>
    With over a decade of experience in optimizing and achieving success in
    fast-paced, collaborative environments, I approach every project with a
    creative and solution-oriented mindset. My goal is to consistently deliver
    exceptional results that exceed expectations.
  </p>
</Layout>
