---
import Layout from "../layouts/Layout.astro";
const pageTitle = "Clarissa Flores";
---

<Layout pageTitle={pageTitle}>
  <h2>Colophon</h2>
  <p>
    A colophon is a page or section, like a footer, of a site that describes how
    the site is made, with what tools, supporting what technologies.
  </p>
  <p><b>Technologies</b></p>
  <ul>
    <li>Built using <a href="https://astro.build/">Astro</a></li>
    <li>Based on the <a href="https://github.com/ttomczak3/Milky-Way">Milky Way</a> template</li>
    <li>Edited in VS Code on a MacBook Pro</li>
  </ul>
  <p><b>Typogrophy and Styling</b></p>
  <ul>
    <li>Font is <a href="https://rubjo.github.io/victor-mono/">Victor Mono</a></li>
    <li>Color pallette based on <a href="https://draculatheme.com/">Dracula Ui</a></li>
  </ul>
  <p><b>Sustainability</b></p>
  <p>
    According to <a
      href="https://www.websitecarbon.com/website/clarissaflores-me/"
      >Website Carbon</a
    > only 0.26 g of CO2 is produced every time someone visits this web page. This
    is cleaner than 71% of all web pages globally.
  </p>
  <p><b>Accessability</b></p>
  <p>
    According to <a
      href="https://wave.webaim.org/report#/https://clarissaflores.me">WAVE</a
    > this website presents no accessability errors.
  </p>
</Layout>
