---
import Layout from "../layouts/Layout.astro";
const pageTitle = "Clarissa Flores";
---

<Layout pageTitle={pageTitle}>
  <h2>Contact</h2>
  <p>
    I am available for new projects locally in the Austin, TX area or remotely
    within the US. You can reach me at <a
      href="mailto:contact@clarissaflores.me">contact@clarissaflores.me</a
    >
  </p>
</Layout>