---
import Layout from "../layouts/Layout.astro";
const pageTitle = "Clarissa Flores";
---

<Layout pageTitle={pageTitle}>
  <h2>Now</h2>
  <p>
    This is a <a href="https://nownownow.com/about">now page</a>, where I share
    what I'm currently focused on, enjoying, and learning.
  </p>
  <p><b>January 2024</b></p>
  <ul>
    <li>Learning Astro and building this site</li>
    <li>Swapping my morning coffee for chai</li>
    <li>Deactivated Instagram</li>
    <li>Daydreaming about the beach</li>
  </ul>
  <p><b>Reading</b></p>
  <p>
    I have challenged myself to read 24 books in 2024. It has a nice ring to it,
    right? I am tracking my proress on
    <a href="https://www.goodreads.com/clarissareverie">GoodReads</a> if you would
    like to follow along. Here is what I have completed reading so far:
  </p>
  <ol>
    <li>
      <i
        >Self-Care for Latinas: 100+ Ways to Prioritize & Rejuvenate Your Mind,
        Body, & Spirit</i
      > by Raquel Reichard
    </li>
  </ol>
  <p><b>Listening</b></p>
  <p>
    I like to make a playlist every month, for every phase of the moon, and for
    every mood. My current playlist is below. You can follow me on <a
      href="https://open.spotify.com/user/22kxx4j6kghmjuh5ghcprwctq?si=bf8dcf9144114607"
      >Spotify</a
    > or
    <a href="https://www.last.fm/user/clarissareverie">Last.fm</a> to see more of
    what I'm listening to.
  </p><center>
    <iframe
      style="border-radius:12px"
      src="https://open.spotify.com/embed/playlist/0gbQbHvrQXF21OVA4t6SPx?utm_source=generator&theme=0"
      width="100%"
      height="352"
      frameborder="0"
      allowfullscreen=""
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      loading="lazy"></iframe></center
  >
</Layout>
