---
import Layout from "../layouts/Layout.astro";
const pageTitle = "Clarissa Flores";
---

<Layout pageTitle={pageTitle}>
  <h2>Now</h2>
  <p>
    This is a <a href="https://nownownow.com/about">now page</a>, where I share
    what I'm currently focused on, enjoying, and learning.
  </p>
  <p><b>February</b></p>
  <ul>
    <li>Using grayscale mode on my iPhone</li>
    <li>Caring for the new flowers in my garden</li>
    <li>Taking walks in the park after work everyday</li>
  </ul>
  <p><b>January</b></p>
  <ul>
    <li>Learning Astro and building this site</li>
    <li>Swapping my morning coffee for chai</li>
    <li>Deactivated Instagram</li>
    <li>Daydreaming about the beach</li>
  </ul>
  <h3>Reading</h3>
  <p>
    I have challenged myself to read 24 books in 2024. It has a nice ring to it,
    right? I am tracking my progress on
    <a href="https://www.goodreads.com/clarissareverie">Goodreads</a> if you would
    like to follow along. Here is what I have completed reading so far:
  </p>
  <ol>
    <li>
      <i>Self-Care for Latinas</i> by Raquel Reichard
    </li>
    <li>
      <i>The Wisdom of Insecurity: A Message for an Age of Anxiety</i>
      by Alan W. Watts
    </li>
    <li><i>Plant Witchery</i> by Juliet Diaz</li>
  </ol>
  <h3>Listening</h3>
  <p>
    I like to make a playlist every month, for every phase of the moon, and for
    every mood. My current playlist is below. You can follow me on <a
      href="https://open.spotify.com/user/22kxx4j6kghmjuh5ghcprwctq?si=bf8dcf9144114607"
      >Spotify</a
    > or
    <a href="https://www.last.fm/user/clarissareverie">Last.fm</a> to see more of
    what I'm listening to.
  </p><center>
    <iframe
      style="border-radius:12px"
      src="https://open.spotify.com/embed/playlist/48kkSjU1GaglrlozwWkgWS?utm_source=generator&theme=0"
      width="100%"
      height="352"
      frameborder="0"
      allowfullscreen=""
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      loading="lazy"></iframe>
  </center>
</Layout>
