---
import Layout from "../layouts/Layout.astro";
const pageTitle = "Clarissa Flores";
---

<Layout pageTitle={pageTitle}>
  <h2>Now</h2>
  <p>
    This is a <a href="https://nownownow.com/about">now page</a>, where I share
    what I'm currently focused on, enjoying, and learning.
  </p>
  <p><b>January 2024</b></p>
  <ul>
    <li>Learning Astro and building this site</li>
    <li>Swapping my morning coffee for chai</li>
    <li>Deactivated Instagram</li>
    <li>Daydreaming about the beach</li>
  </ul>
  <p><b>Currently Reading</b></p>
  <p>
    I have challenged myself to read 24 books in 2024. It has a nice ring to it,
    right? The book I am reading now is below. I am tracking my proress on
    <a href="https://www.goodreads.com/clarissareverie">GoodReads</a> if you would
    like to follow along.
  </p>
  <style type="text/css" media="screen">
    .gr_grid_container {
      /* customize grid container div here. eg: width: 500px; */
    }

    .gr_grid_book_container {
      /* customize book cover container div here */
      float: left;
      width: 98px;
      height: 160px;
      padding: 0px 0px;
      overflow: hidden;
    }
  </style>
  <div id="gr_grid_widget_1704939195">
    <!-- Show static html as a placeholder in case js is not enabled - javascript include will override this if things work -->
    <div class="gr_grid_container">
      <div class="gr_grid_book_container">
        <a
          title="Self-Care for Latinas: 100+ Ways to Prioritize & Rejuvenate Your Mind, Body, & Spirit"
          rel="nofollow"
          href="https://www.goodreads.com/book/show/176442571-self-care-for-latinas"
          ><img
            alt="Self-Care for Latinas: 100+ Ways to Prioritize & Rejuvenate Your Mind, Body, & Spirit"
            src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1687105392l/176442571._SX98_.jpg"
          /></a
        >
      </div>
      <br style="clear: both" /><br /><a
        class="gr_grid_branding"
        style="font-size: .9em; color: #382110; text-decoration: none; float: right; clear: both"
        rel="nofollow"
        href="https://www.goodreads.com/user/show/144976841-clarissa-flores"
        >Clarissa Flores's favorite books »</a
      >
      <noscript
        ><br />Share <a rel="nofollow" href="/">book reviews</a> and ratings with
        Clarissa, and even join a <a rel="nofollow" href="/group">book club</a> on
        Goodreads.</noscript
      >
    </div>
  </div>
  <script
    src="https://www.goodreads.com/review/grid_widget/144976841.Clarissa's%20bookshelf:%20currently-reading?cover_size=medium&hide_link=&hide_title=true&num_books=4&order=a&shelf=currently-reading&sort=date_added&widget_id=1704939195"
    type="text/javascript"
    charset="utf-8"></script>
  <p><b>Currently Listening</b></p>
  <p>
    I like to make a playlist every month, for every phase of the moon, and for
    every mood. My current playlist is below. You can follow me on <a
      href="https://open.spotify.com/user/22kxx4j6kghmjuh5ghcprwctq?si=bf8dcf9144114607"
      >Spotify</a
    > or
    <a href="https://www.last.fm/user/clarissareverie">Last.fm</a> to see more of
    what I'm listening to.
  </p>
  <iframe
    style="border-radius:12px"
    src="https://open.spotify.com/embed/playlist/0gbQbHvrQXF21OVA4t6SPx?utm_source=generator&theme=0"
    width="300"
    height="352"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"></iframe>
</Layout>
