---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Posts";
<!-- const res = await fetch("http://portfolio.local/wp-json/wp/v2/posts");
const posts = await res.json(); -->
---
<!-- <Layout pageTitle={pageTitle}>
    <h1>Astro + WordPress</h1>

    {
        posts.map((post) => (
            <h2 set:html={post.title.rendered} />
            <p set:html={post.content.rendered} />
        ))
      }

-->
    <!-- <ul role="list" class="link-card-grid">
        <Card
            url="https://medium.com/"
            image="/blog.png"
            title="Blog 1"
            body="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci"
        />
        <Card
            url="https://medium.com/"
            image="/blog.png"
            title="Blog 2"
            body="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci"
        />
        <Card
            url="https://medium.com/"
            image="/blog.png"
            title="Blog 3"
            body="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci"
        />
        <Card
            url="https://medium.com/"
            image="/blog.png"
            title="Blog 4"
            body="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci"
        />
    </ul>
    <h2>YouTube</h2>
    <ul role="list" class="link-card-grid">
        <Card
            url="https://www.youtube.com/"
            image="/youtube.png"
            title="Video 1"
            body="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci"
        />
        <Card
            url="https://www.youtube.com/"
            image="/youtube.png"
            title="Video 2"
            body="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci"
        />
    </ul> -->
</Layout>
