---
import ThemeIcon from "./ThemeIcon.astro";
---

<div class="nav-bar">
  <div class="title-link">
    <a href="/">clarissaflores.me</a>
  </div>
  <div class="nav-links">
    <a href="/about">about</a>
    <a href="/projects">projects</a>
    <a href="/now">now</a>
    <a href="/colophon">colophon</a>
    <ThemeIcon />
  </div>
</div>
